/* Ipad pro */

@media (min-width: 1024px) and (max-width: 1366px) {
    .section-organized.top-header {
        padding: 0;
        margin-bottom: -10px;
    }
    .section-organized {
        padding: 10px 0;
    }
    .section-organized.organized-third .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .section-organized.organized-five .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .section-organized {
        padding: 10px 0;
    }
    .section-organized p.edit-img {
        text-align: center;
        margin: 0;
    }
    .section-organized.top-header p.paragraph {
        margin: 0;
    }
    .left-mb {
        margin-bottom: 26px;
    }
    .download-btn {
        margin-top: 4px;
    }
    footer {
        padding: 60px 80px;
    }
}


/* tablet and mobile */

@media (max-width: 1023px) {
    a.how-to-use {
        padding: 0px 10px;
        font-size: 16px;
    }
    .section-organized.top-header {
        padding: 0;
        margin-bottom: -10px;
    }
    .section-organized {
        padding: 10px 0;
    }
    .section-organized.organized-third .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .section-organized.organized-five .row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .section-organized {
        padding: 10px 0;
    }
    .section-organized p.edit-img {
        text-align: center;
        margin: 0;
    }
    .section-organized.top-header p.paragraph {
        margin: 0;
    }
    .left-mb {
        margin-bottom: 26px;
    }
    .download-btn {
        margin-top: 4px;
    }
    .main-content {
        padding: 50px 40px;
    }
    .section-organized img {
        max-width: 100%;
    }
    .section-organized h2 {
        font-size: 30px;
        text-align: center;
    }
    .section-organized p.paragraph {
        line-height: 1.8em;
        text-align: center;
    }
    .content-pages {
        padding: 100px 20px 20px 20px;
        max-width: 100%;
    }
    footer {
        padding: 40px 40px;
    }
    .content-text {
        flex-direction: column;
        padding-bottom: 0px;
    }
    .wrap-button {
        text-align: center;
        margin: 0;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .header {
        padding: 10px 50px;
    }
    .header__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header ul li {
        padding-right: 8px;
    }
    .header .logo-svg {
        width: 90px;
    }
    .main-content {
        padding: 40px 26px;
    }
    .section-organized.top-header h2 {
        text-align: center;
        font-size: 28px;
    }
    .section-organized.top-header p.paragraph {
        text-align: center;
        font-size: 20px;
    }
    .section-organized h2 {
        font-size: 26px;
        text-align: center;
    }
    .section-organized h3 {
        font-size: 24px;
        text-align: center;
    }
    .section-organized p.paragraph {
        text-align: center;
        line-height: 1.5em;
    }
    .wrap-button {
        text-align: center;
    }
    .download-btn {
        margin-top: 0;
    }
    footer {
        padding: 40px 20px;
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 600px;
    }
}


/* Small Mobile */

@media (max-width: 500px) {
    .header {
        padding: 10px 8px;
    }
    .header .logo-svg {
        width: 80px;
    }
    a.how-to-use {
        padding: 0px 8px;
        font-size: 13px;
    }
    .section-organized.top-header p.paragraph {
        text-align: center;
        font-size: 18px;
    }
    iframe {
        width: 100%;
        height: 550px;
    }
}

@media (max-width: 400px) {
    iframe {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 10px;
    }
    a.how-to-use {
        padding: 0px 4px;
    }
    img.google-play {
        width: 100px;
    }
}