    #app {
        overflow: hidden;
        position: relative;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 10px 100px;
        /* background-color: #ffc42f; */
        background-color: var(--second-color);
    }
    
    .header ul {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style-type: none;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .header ul li {
        padding-right: 20px;
    }
    
    .header ul li:last-child {
        padding-right: 0px;
    }
    
    .header li a img {
        display: block;
    }
    
    .how-to-use {
        display: inline-block;
        cursor: pointer;
    }
    
    a.how-to-use {
        background: linear-gradient(#ffc42f, #fbe539);
        color: #8327c0 !important;
        /* margin-left: 20px; */
        text-transform: none;
        padding: 0px 20px;
        height: auto;
        text-decoration: none;
        white-space: normal;
        text-align: center;
        line-height: 48px;
        letter-spacing: 0px;
        font-weight: 500;
        font-size: 22px;
        box-shadow: rgb(0 0 0 / 25%) 0px 10px 20px 0px;
        border-radius: 5px;
        transform-origin: 50% 50%;
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
        border-width: 0px;
        backdrop-filter: none;
        filter: brightness(100%);
    }
    
    .blue-link {
        text-decoration: none;
        color: #401ead;
        margin-left: 20px;
        font-size: 20px;
    }
    /* Main Content */
    
    .main-content {
        background-color: var(--primary-color);
        font-family: 'Rockwell', sans-serif;
        padding: 50px 100px;
        margin-top: 60px;
        color: var(--black-color);
        line-height: 26px;
    }
    /* top header */
    
    .section-organized.top-header {
        padding: 26px 0;
    }
    
    .section-organized.top-header h2 {
        text-align: center;
        font-size: 70px;
    }
    
    .section-organized.top-header p.paragraph {
        text-align: center;
        font-size: 24px;
    }
    /* Organized First */
    
    .section-organized {
        padding: 50px 0;
    }
    
    .section-organized .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-organized p.edit-img {
        text-align: center;
    }
    
    .section-organized h2 {
        font-size: 45px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--second-color);
        text-shadow: 1px 1px 0 black;
    }
    
    .section-organized p.paragraph {
        color: var(--black-color);
        line-height: 2em;
        text-align: justify;
        font-size: 18px;
    }
    
    .download-btn {
        background-color: var(--button-bg);
        color: var(--white-color);
        padding: 18px 26px;
        font-size: 16px;
        margin-top: 16px;
        display: inline-block;
    }
    
    .section-organized h3 {
        font-size: 30px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.2em;
        font-family: 'Rockwell-Bold';
        margin: 0;
        color: var(--second-color);
        text-shadow: 1px 1px 0 black;
    }
    /*  Content Pages */
    
    .content-pages {
        padding: 100px 100px 20px 100px;
    }
    /* footer */
    
    footer {
        padding: 60px 100px;
    }
    
    footer h3 {
        color: var(--second-color);
        font-size: 16px;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.6em;
    }
    
    footer p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.9em;
        color: var(--second-color);
    }
    
    footer .link-bottom {
        font-size: 16px;
        font-weight: 500;
        margin-top: 32px;
    }
    
    footer .link-bottom a {
        color: var(--second-color);
        text-align: left;
        line-height: 1.2em;
        text-decoration: none;
    }
    /* Side Floater */
    
    .share {
        position: fixed;
        z-index: 1000;
        right: 0;
        bottom: 50%;
        width: 70px;
        padding: 18px 6px 0;
        background: #fff;
        border-radius: 20px 0 0 20px;
        transform: translate(0, 50%);
        box-shadow: 0 0 1em rgb(0 0 0 / 10%);
    }
    
    .srOnly {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }
    
    .share a {
        display: block;
        transition: transform .3s;
    }
    
    .share a:hover {
        transform: translate(0, -8px);
    }
    
    .share img {
        display: block;
        padding: 14px 8px;
        max-width: 100%;
    }